<form method="POST" action="/" style="text-align:center">
  <div class="my-3">
    <input type="text" class="form-control" style="width:75%; margin:auto" name="urlInput" id="original-url" placeholder="Paste the Original URL Here" aria-describedby="origin url input" required>
  </div>
  <button type="submit" class="btn btn-outline-info">Shorten!</button>
</form>
