<form method="POST" action="/">
  <div class="my-3">
    <input type="text" class="form-control" name="urlInput" id="original-url" placeholder="paste the original url here" aria-describedby="emailHelp" required>
  </div>
  <button type="submit" class="btn btn-outline-info">Shorten!</button>
</form>
