<div class="container my-3">
<h3>url here
  {{{ shortURL }}}
</h3>
<div class="container my-1 d-inline">
  <button type="button" class="btn btn-outline-primary">Primary</button>
  <button type="button" action="/" class="btn btn-outline-primary">Back</button>
</div>
</div>
