<div class="container my-3">
<h3>Your short url is: 
  <a href="{{{ origin }}}/{{{ shortURL }}}" target="_blank">{{{ origin }}}/{{{ shortURL }}}</a>
</h3>
<div class="container my-1 d-inline">
  <button type="button" class="btn btn-outline-primary mx-0">Copy</button>
  <a class="btn btn-outline-primary mx-2" href="/" role="button">Back to Create Another One</a>
</div>
</div>
