<div class="container my-3">
<h3>url here
  {{{ shortURL }}}
</h3>
<div class="container my-1 d-inline">
  <button type="button" class="btn btn-outline-primary">Copy</button>
  <a class="btn btn-outline-primary mx-2" href="/" role="button">Create another one</a>
</div>
</div>
