<div class="container my-3" style="text-align: center;">
  <h4>Your short url is: 
    <a id="short-URL" href="{{{ domain }}}/{{{ shortURL }}}" target="_blank">{{{ domain }}}/{{{ shortURL }}}</a>
  </h4>
  <div class="container my-1 d-inline">
    <button type="button" class="btn btn-outline-secondary mx-0" onclick="copy()">Copy to the Clipboard</button> 
    <a class="btn btn-outline-primary mx-2" href="/" role="button">Create Another One</a>
  </div>
</div>

<script>
  function copy() {
    const copy = document.querySelector('#short-URL').innerText
    navigator.clipboard.writeText(copy)
    .then( () => alert('Copied :)'))
    .catch(error => alert('Copy Failed :('))
  }
</script>